# Machine Learning using Titanic Data - Kaggle Competition 2

  Curso elaborado por Mario Filho - www.mariofilho.com/

- O que é treino, validação e teste
- Porque precisamos de validação
- Como dividir seus dados em treino e validação (e teste).
- O que é e como usar a "random seed" (semente de números aleatórios)
- Como remover o máximo de aleatoriedade para poder comparar resultado
- Como calcular a acurácia
- Como interpretar e usar o resultado da validação
- Princípios básicos para saber se a validação está correta

In [1]:
import pandas as pd
import numpy as np

In [2]:
# Carregando os dados de treino e de teste:
local_train = '~/Documentos/KAGGLE/TITANIC/train.csv'
local_test = '~/Documentos/KAGGLE/TITANIC/test.csv'
train_data = pd.read_csv(local_train) 
test_data = pd.read_csv(local_test) 
train_data.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [3]:
# Para utilizar as variáveis "Male" e "Female" transformamos elas em um binário:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

train_data['Sex_binario'] = train_data['Sex'].map(transformar_sexo)

In [4]:
variaveis = ['Sex_binario', 'Age']

X = train_data[variaveis].fillna(-1)
Y = train_data['Survived']

In [5]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [6]:
# Criação de instância do modelo (conjunto de modelos de árvore de decisão)
# Para usar o método de divisão mais simples de validação importamos o train_test_split
# Definiremos assim de maneira aleatória quem vai para o treino e quem vai para o test
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [7]:
# Utilizamos o np.random.seed(0) para manter a escolha aleatória definida em 0 assim como no random_state:
np.random.seed(0)
X_treino, X_valid, y_treino, y_valid = train_test_split(X, Y, test_size=0.5) # 50% pois os dados são pequenos

In [8]:
X_treino.head()

     Sex_binario   Age
213            0  30.0
586            0  47.0
499            0  24.0
821            0  27.0
246            1  25.0

In [9]:
X_treino.shape, X_valid.shape, y_treino.shape, y_valid.shape

((445, 2), (446, 2), (445,), (446,))

In [10]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
modelo.fit(X_treino, y_treino)

RandomForestClassifier(n_jobs=-1, random_state=0)

In [11]:
p = modelo.predict(X_valid)
p

array([0, 0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0, 1,
       0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1,
       1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0,
       0, 1, 1, 0, 0, 0])

In [12]:
# Calculando o quanto estamos certos na validação:
# Comparamos o y_valid (respostas para esse conjunto de dados) com o p, 
# e então realizamos a acurácia (média dessa comparação)
y_valid == p
np.mean(y_valid == p)

0.7690582959641256

In [13]:
p = (X_valid['Sex_binario'] == 1).astype(np.int64)
np.mean(y_valid == p)

0.7825112107623319

# Conclusão:
Percebemos que o resultado do modelo é pior que o anterior no qual consideramos que apenas as mulheres sobrevivem (Notebook 01)

In [14]:
# Gerando o arquivo em CSV para submissão no Kaggle:
sub = pd.Series(p, index=test_data['PassengerId'], name='Survived')
sub.to_csv("Segundo_modelo.csv", header=True)

In [15]:
# Olhando as primeiras 10 linhas do arquivo gerado:
!head -n10 primeiro_modelo.csv

PassengerId,Survived
892,0
893,1
894,0
895,1
896,1
897,0
898,1
899,0
900,1