# Machine Learning using Titanic Data - Kaggle Competition 5

  Curso elaborado por Mario Filho - www.mariofilho.com/

- Como entender os números de sua validação
- Como adicionar novas variáveis ao modelo
- Como preparar o modelo para fazer previsões fora da validação

github: /BALBOARC

In [1]:
import pandas as pd
import numpy as np

In [2]:
local_train = '~/Documentos/KAGGLE/TITANIC/train.csv'
local_test = '~/Documentos/KAGGLE/TITANIC/test.csv'

In [3]:
def transformar_sexo(valor):
    if valor == 'female':
        return 1
    else:
        return 0

In [4]:
train_data = pd.read_csv(local_train) 
test_data = pd.read_csv(local_test)

train_data['Sex_binario'] = train_data['Sex'].map(transformar_sexo)
test_data['Sex_binario'] = test_data['Sex'].map(transformar_sexo)

variaveis = ['Sex_binario', 'Age']

X = train_data[variaveis].fillna(-1)
Y = train_data['Survived']

In [5]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split

In [6]:
from sklearn.model_selection import KFold
from sklearn.model_selection import RepeatedKFold

In [7]:
%matplotlib inline
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Utilizando Novas Variáveis:

In [8]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_binario
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,0

In [9]:
variaveis = ['Sex_binario', 'Age', 'Pclass', 'SibSp', 'Parch', 'Fare']

In [10]:
X = train_data[variaveis].fillna(-1)
y = train_data['Survived']

In [11]:
resultados = []
kf = RepeatedKFold(2, n_repeats=10, random_state=10)

for linhas_treino, linhas_valid in kf.split(X):
    print("Treino:", linhas_treino.shape[0])
    print("Valid:", linhas_valid.shape[0])

    X_treino, X_valid = X.iloc[linhas_treino], X.iloc[linhas_valid]
    y_treino, y_valid = Y.iloc[linhas_treino], Y.iloc[linhas_valid]

    modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
    modelo.fit(X_treino, y_treino)

    p = modelo.predict(X_valid)

    acc = np.mean(y_valid == p)
    resultados.append(acc)
    print("Acc:", acc)
    print()

    #print(X_treino.head())
    #print()

/home/rogerio/anaconda3/lib/python3.8/site-packages/sklearn/utils/validation.py:67: FutureWarning: Pass n_splits=2 as keyword args. From version 0.25 passing these as positional arguments will result in an error
  warnings.warn("Pass {} as keyword args. From version 0.25 "

Treino: 445
Valid: 446
Acc: 0.7869955156950673

Treino: 446
Valid: 445
Acc: 0.7797752808988764

Treino: 445
Valid: 446
Acc: 0.827354260089686

Treino: 446
Valid: 445
Acc: 0.8179775280898877

Treino: 445
Valid: 446
Acc: 0.7847533632286996

Treino: 446
Valid: 445
Acc: 0.7842696629213484

Treino: 445
Valid: 446
Acc: 0.8161434977578476

Treino: 446
Valid: 445
Acc: 0.7842696629213484

Treino: 445
Valid: 446
Acc: 0.8004484304932735

Treino: 446
Valid: 445
Acc: 0.8

Treino: 445
Valid: 446
Acc: 0.8183856502242153

Treino: 446
Valid: 445
Acc: 0.802247191011236

Treino: 445
Valid: 446
Acc: 0.8116591928251121

Treino: 446
Valid: 445
Acc: 0.8067415730337079

Treino: 445
Valid: 446
Acc: 0.820627802690583

Treino: 446
Valid: 445
Acc: 0.7887640449438202

Treino: 445
Valid: 446
Acc: 0.8385650224215246

Treino: 446
Valid: 445
Acc: 0.8044943820224719

Treino: 445
Valid: 446
Acc: 0.7982062780269058

Treino: 446
Valid: 445
Acc: 0.8112359550561797

# Retreinando o Modelo:

In [14]:
X.head()

   Sex_binario   Age  Pclass  SibSp  Parch     Fare
0            0  22.0       3      1      0   7.2500
1            1  38.0       1      1      0  71.2833
2            1  26.0       3      0      0   7.9250
3            1  35.0       1      1      0  53.1000
4            0  35.0       3      0      0   8.0500

In [15]:
Y.head()

0    0
1    1
2    1
3    1
4    0
Name: Survived, dtype: int64

In [16]:
test_data[variaveis].head()

   Sex_binario   Age  Pclass  SibSp  Parch     Fare
0            0  34.5       3      0      0   7.8292
1            1  47.0       3      1      0   7.0000
2            0  62.0       2      0      0   9.6875
3            0  27.0       3      0      0   8.6625
4            1  22.0       3      1      1  12.2875

In [17]:
modelo = RandomForestClassifier(n_estimators=100, n_jobs=-1, random_state=0)
modelo.fit(X, Y)

p = modelo.predict(test_data[variaveis].fillna(-1))

# Criando a Submission:

In [18]:
# Transformar o array em uma série do Pandas, alinhando valores aos passageiros:
sub = pd.Series(p, index=test_data['PassengerId'], name='Survived')
sub.shape

(418,)

In [19]:
# Gerando o arquivo em CSV para submissão no Kaggle:
sub.to_csv("Quinto_modelo.csv", header=True)

In [20]:
# Olhando as primeiras 10 linhas do arquivo gerado:
!head -n10 Quinto_modelo.csv

PassengerId,Survived
892,0
893,0
894,1
895,1
896,0
897,0
898,0
899,0
900,1